@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header */

header {
    margin: 0px 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
}

nav .menu{
    list-style: none;
    display: flex;
}

nav .menu a {
    border-top: 2px solid white;
    padding: 50px 40px;
	transition: .2s ease-in-out;
}

nav .menu a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

nav span {
    border-top: 2px solid white;
    padding: 50px 0px 50px 40px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: black;
}

nav span a {
    color: #0065FC;
}

nav span a:hover {
    text-decoration: underline;
}

/* Paramètres */

.settings {
    margin: 0px 50px;
}

.settings h3 {
    font-weight: 500;
    margin-top: 8px;
}

.search {
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.search .fa-map-marker-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 10px;
    height: 6.5px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.search input {
    height: 35px;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-weight: 700;
}

.search input:focus {
    outline: none;
    border: 1px solid #0065FC;
}

.search .font {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100px;
    height: 6.5px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.search .icon {
    display: none;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-weight: 700;
}

.filters p:first-child {
    margin: 20px 30px 0px 0px;
}

.filter {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
	transform: scale(1);
	transition: .3s ease-in-out;
    margin-top: 20px;
}

.filter:hover {
    transform: scale(1.05);
}

.filter p {
    padding: 9px 15px 9px 50px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.filter i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    padding: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #DEEBFF;
    position: absolute;
}

.infos {
    display: flex;
    align-items: center;
}

.infos i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    margin-right: 10px;
    font-size: 12px;
}

/* Hébergements & Populaires */

.accommodationspopular {
    display: flex;
    justify-content: space-between;
}

.bg-left {
    background-color: #F3F3F3;
    margin: 50px 15px 50px 50px;
    padding: 50px;
    border-radius: 30px;
    width: 65%;
}

.bg-right {
    background-color: #F3F3F3;
    margin: 50px 50px 50px 15px;
    padding: 50px;
    border-radius: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-left h2 {
    margin-bottom: 30px;
}

.bg-left .more:last-child {
    font-weight: 700;
    font-size: 18px;
}

.bg-left .more:last-child:hover {
    color: #0065FC;
    cursor: pointer;
}

.accommodations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.accommodation {
    background-color: white;
    width: 30%;
    padding: 5px;
    border-radius: 30px;
	transition: .3s ease-in-out;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);
}

.accommodationspopular a {
    text-decoration: none;
    color: black;
}

.accommodation:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.accommodation img {
    height: 12em;
    object-fit: cover;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.accommodation .details {
    padding: 10px 15px;
}

.accommodation .details p {
    margin: 5px 0px;
}

.accommodation .details span {
    font-weight: 700;
}

.accommodationspopular .active {
    color: #0065FC;
}

.accommodationspopular i {
    color: #F3F3F3;
}

.popular {
	transition: .3s ease-in-out;
}

.popular a {
    background-color: white;
    display: flex;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);
}

.popular:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.bg-right .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.bg-right .title i {
    color: black;
    font-size: 24px;
}

.populars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.popular img {
    height: 12em;
    object-fit: cover;
    min-width: 12em;
    max-width: 12em;
    border-radius: 30px 0px 0px 30px;
}

.popular .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.popular .details h3 {
    margin-bottom: 10px;
}

/* Activités */

.activities-section {
    margin: 30px 50px;
}

.activities {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activities h3 {
    margin: 20px 20px;
}

.half-activities {
    display: flex;
}

.activity {
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
	transition: .3s ease-in-out;
}

.activity:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.activity a {
    text-decoration: none;
    color: black;
}

.long img {
    height: 40em;
    object-fit: cover;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.double-activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.double-activities img {
    object-fit: cover;
    width: 20em;
    border-radius: 30px 30px 0px 0px;
}

.first img {
    height: 18em;
}

.second img {
    height: 15em;
    object-fit: cover;
    width: 20em;
    border-radius: 30px 30px 0px 0px;
}

.long:first-child {
    margin-right: 50px;
}

.activities .long.right {
    margin: 0px 50px;
}

/* Footer */

footer {
    background-color: #F3F3F3;
    padding: 50px;
    margin-top: 80px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.footer .section {
    display: flex;
    flex-direction: column;
}

footer h6 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

footer li {
    list-style: none;
    margin-bottom: 8px;
    font-size: 15px;
}

footer a {
    margin-top: 8px;
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #0065FC;
}

@media screen and (max-width: 1700px) {

    /* Hébergements & Populaires */

    .accommodationspopular {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .bg-left {
        margin: 50px;
        width: 90%;
    }

    .bg-right {
        margin: 50px;
        width: 90%;
        margin-bottom: 0px;
    }

    .populars {
        flex-direction: row;
        margin-top: 50px;
    }

    .popular {
        width: 35%;
    }

    .popular:nth-child(2) {
        margin: 0px 4%;
    }
}

@media screen and (max-width: 1510px) {

    /* Activités */

    .activities {
        flex-direction: column;
        align-items: center;
    }

    .half-activities {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .long img {
        height: 15em;
        width: 27em;
    }

    .double-activities {
        flex-direction: row;
    }

    .double-activities .activity:nth-child(1) {
        margin: 0px 50px;
    }

    .double-activities img {
        width: 27em;
    }

    .first img {
        height: 15em;
    }

    .second img {
        width: 27em;
    }

    .long:first-child {
        margin-right: 0px;
    }

    .activities .long.right {
        margin: 0px;
    }

    /* Footer */

    footer {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1400px) {

    /* Hébergements & Populaires */

    .bg-left {
        margin: 50px 30px;
    }

    .popular {
        width: 100%;
    }

    .popular:nth-child(2) {
        margin: 4% 0px;
    }

    /* Activités */

    .activities-section {
        margin: 30px 30px;
    }

    .half-activities {
        justify-content: space-between;
    }

    .half-activities.left {
        flex-direction: row-reverse;
    }

    .half-activities.left .activity.long {
        margin-left: 50px;
    }

    .half-activities.right .activity.long {
        margin-right: 50px;
    }

    .long img {
        height: 40em;
        width: 100%;
    }

    .double-activities {
        flex-direction: column;
        align-items: flex-end;
        margin-left: 0px;
    }

    .double-activities .activity:nth-child(1) {
        margin: 0px;
    }

    .double-activities img {
        width: 33em;
    }

    .first img {
        height: 18em;
    }

    .second img {
        width: 33em;
    }
}

@media screen and (max-width: 940px) {

    /* Hébergements & Populaires */

    .bg-left {
        background-color: white;
        margin: 0px 50px 50px 50px;
    }

    .accommodations {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .accommodation {
        width: 100%;
        margin-bottom: 40px;
    }

    /* Activités */

    .half-activities {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .half-activities.left {
        flex-direction: column;
        width: 100%;
    }

    .half-activities.right {
        width: 100%;
    }

    .activity {
        width: 100%;
        margin-bottom: 50px;
    }

    .long img {
        height: 18em;
    }

    .half-activities.left .activity.long {
        margin-left: 0px;
    }

    .half-activities.right .activity.long {
        margin-right: 0px;
    }

    .double-activities {
        width: 100%;
    }

    .double-activities .activity:nth-child(1) {
        margin-bottom: 50px;
    }

    .double-activities img {
        width: 100%;
    }

    .second img {
        height: 18em;
        width: 100%;
    }

    .activities .long.right {
        margin-bottom: 50px;
    }

    /* Footer */

    .footer {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    /* Header */

    header {
        margin: 0px;
        width: 100%;
    }

    .nav-bar {
        justify-content: flex-start;
    }

    .nav-bar img {
        position: absolute;
        margin-left: 30px;
        margin-top: 30px;
    }

    nav {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-end;
    }

    nav .menu{
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        order: 1;
    }

    nav .menu a {
        border-bottom: 2px solid #F3F3F3;
        padding: 0px 0px 30px 0px;
        margin-bottom: 50px;
        width: 50%;
        text-align: center;
    }

    nav .menu a:hover {
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }

    nav span {
        padding: 50px 0px;
        margin-right: 30px;
    }

    /* Paramètres */

    .search .font {
        display: none;
    }

    .search .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        height: 6.5px;
        border-radius: 10px;
        background-color: #0065FC;
        text-decoration: none;
        color: white;
        font-size: 13px;
        margin-left: -5px;
        height: 8px;
        width: 8px;
    }

    .filters p:first-child {
        width: 100%;
    }

    /* Hébergements & Populaires */

    .popular img {
        min-width: 11em;
        max-width: 11em;
    }

    /* Activités */

    .activities-section {
        margin: 0px 15px;
    }

    .activities h3 {
        margin: 20px 20px;
    }

    /* Footer */

    footer {
        padding: 50px 50px 0px 20px;
    }

    .footer {
        flex-direction: column;
    }

    .footer .section {
        margin-bottom: 50px;
    }
}