@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header */

header {
    margin: 0px 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul a {
    border-top: 2px solid white;
    padding: 50px 40px;
}

nav ul a:first-child {
    border-top: 2px solid #0065FC;
    padding: 50px 40px;
}

nav ul a:first-child {
    color: #0065FC;
}

nav ul a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

nav span {
    border-top: 2px solid white;
    padding: 50px 0px 50px 40px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: black;
}

nav span a {
    color: #0065FC;
}

nav span a:hover {
    text-decoration: underline;
}

/* Paramètres */

.settings {
    margin: 0px 50px;
}

.settings h3 {
    font-weight: 500;
    margin-top: 8px;
}

.search {
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 10px;
    height: 6.5px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.search input {
    height: 35px;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-weight: 700;
}

.search input:focus {
    outline: none;
    border: 1px solid #0065FC;
}

.search a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100px;
    height: 6.5px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.filter {
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
	transform: scale(1);
	transition: .3s ease-in-out;
}

.filter:hover {
    transform: scale(1.1);
}

.filter p {
    padding: 9px 15px 9px 50px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.filter i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    padding: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #DEEBFF;
    position: absolute;
}

.infos {
    display: flex;
    align-items: center;
}

.infos i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    margin-right: 10px;
    font-size: 12px;
}